body {
    margin: 0;
    font-family: Arial, sans-serif;
}

a.title {
    font-family: serif;
    color: blue;
    font-size: 30px;
}

a.about {
    font-family: serif;
    color: blue;
    font-size: ;
}

a.carrot {
    font-size: 26px;
    font-family: serif;
    color: black;
}

a.pageTitle {
    font-size: 26px;
    font-family: serif;
    color: black;
    font-weight: bold;
}

.pageText a {
    font-family: serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0;
    box-shadow: 0 0 7px 0 #ddd;
}

.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 85%; /* Maintain the square aspect ratio */
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.title-container {
    padding: 10px;
    background-color: ;
    color: blue;
    font-weight: 300;
    font-size: 20px;
    font-family: serif;
    text-decoration: underline;
    text-align: left;
    margin: 0;
    opacity: 0.8;
}

div.header {
    background-color: #dfdfdfdf;
    outline: 1px solid #bbbbbb;
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 10px;
}

div.headerLeft {
    float: left;
}

div.headerRight {
    float: right;
    padding: 10px;
}

div.image {
    padding: 0px;
    min-height: 100px;
    display: inline-block;
}

.image img {
    position: relatives;
    max-width: 100%;
    max-height: 500px;
    height: auto;
}

div.main {
    margin-left: 50px;
    padding-top: 10px;
    clear: both;
}
div.pageTitle {
    padding: 0px;
}
div.pageText {
    margin-right: 20px;
}
div.nav {
    padding: 5px;
    text-align: center;
    font-size: 14px;
    display: block;
    clear: both;
}

div.footer {
    text-align: center;
}

#dodd {
    max-width: 100px;
}

#aaw {
    max-width: 30px;
}

#dates {
    max-width: 60px;
}

@media (max-width: 1800px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
}
